/* id styles */
#aboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 10px;
  position: relative;
}

#aboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app {
  padding: 5%;
}

#headshot {
  height: 40%;
  width: 40%;
  padding-right: 5%;
}

#linksContainer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
}

/* up for debate */
#projectLink{   
  padding-top: 100px;   
}

/* class styles */
.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header{
  padding-bottom: 2%;
}

.headshotContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon{
  height: 20px;
  width: 20px;
  margin: 5px;
}

