/* id styles */
#aboutMeContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: flex-end;
  padding: 10px;
  position: relative;
}

#aboutMeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#app {
  padding: 3%;
}

#headshot {
  height: 40%;
  width: 40%;
  padding-right: 5%;
}

#linksContainer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 2%;
}

#projects {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

/* up for debate */
#projectLink{   
  /* position: absolute;
  bottom: 0; */
  padding-top: 3%;
}

/* class styles */
.appWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graceshopperImg {
  height: auto;
  width: 90%;
  padding-top: 2%;
  align-self: end;
}

.header{
  padding-bottom: 2%;
}

.headshotContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon{
  height: 20px;
  width: 20px;
  margin: 5px;
}

.individual{
  align-self: center;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  padding-bottom: 5%;
}

.projectHeading {
  padding-bottom: 3%;
}

.projectMedia {
  padding-left: 3%;
}

.projectText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  /* padding-top: 2%; */
}
